# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Ngrok
.ngrok2/
ngrok.yml

# Logs
logs/
*.log
*.out
*.err

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

